<p id="notice"><%= notice %></p>

<p>
  <strong>Hometown:</strong>
  <%= @user_info.hometown %>
</p>

<p>
  <strong>Major:</strong>
  <%= @user_info.major %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user_info.age %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_info.description %>
</p>

<p>
  <strong>Show email:</strong>
  <%= @user_info.show_email %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
