<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @reply.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @reply.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @reply.author_id %>
</p>

<p>
  <strong>Conversation:</strong>
  <%= @reply.conversation %>
</p>

<%= link_to 'Edit', edit_conversation_reply_path(@conversation, @reply) %> |
<%= link_to 'Back', conversation_replies_path %>
