<div class="container">
  <h1>Login</h1>

  <div class="row">
    <%= form_tag attempt_login_path, class: "col s12" do %>

      <% if @login_failed %>
        <p><strong>Sign in failed: Please check your email and password</strong></p>
        <script>Materialize.toast("Sign in failed: Please check your email and password", 5000)</script>
      <% end %>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mail</i>
          <%= text_field_tag :email, params[:email] %>
          <%= label_tag :email %>
        </div>
      </div>
    
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <%= password_field_tag :password %>
          <%= label_tag :password %>
        </div>
      </div>
      
    <div class="row hide-on-small-only">
      <div class="col m6 left-align">
        <%= render partial: '/ournaropa_forum/passwords/forgot_password_button' %>
      </div>
      <div class="col m6 right-align">
        <button class="btn-large waves-effect waves-light" type="submit" name="action">
          <i class="material-icons right">https</i> Log In
        </button>
      </div>
    </div>
    
    <div class="row hide-on-med-and-up">
      <div class="col s12 center-align">
        <button class="btn-large waves-effect waves-light" type="submit" name="action">
          <i class="material-icons right">https</i> Log In
        </button>
      </div>
      
      <div class="row"></div>
      
      <div class="col s12 center-align">
        <%= render partial: '/ournaropa_forum/passwords/forgot_password_button' %>
      </div>
      
    </div>
    

    <% end %>
  </div>
</div>