<div class="author center-align">
  <!--<a class="modal-trigger" data-target="<%= author.id %>">-->
  <%= image_tag author.info.avatar.url(:standard), class: "circle responsive-img modal-trigger", data: {target: author.id} %>
  <!--</a>-->
    <div class="custom-chip <%= author.role.parameterize %>"><%= author.first_name %></div> 
</div>


<div id="<%= author.id %>" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="row">
      <div class="col s12 m6 l4 push-m3 push-l4">
        <%= image_tag author.info.avatar.url(:large), class: "circle responsive-img z-depth-1" %>
      </div>
    </div>
    <h4 class="center-align"><%= author.first_name + " " + author.last_name %></h4>
    <h5 class="center-align grey-text"><%= author.role %></h5>
    
    <% #show email address %>
    <% if author.info.share_email %>
      <p class="center-align">
        <i class="material-icons">email</i> <%= author.email %>
      </p>
    <% end %>
    
    <% # show other info %>
    <p class="center-align">
      
      <% # show location %>
      <% if author.info.hometown.present? %>
        <i class="material-icons">location_city</i> <%= author.info.hometown %>
      
        <% if author.info.major.present? or author.info.age.present? %>
          <span class="hide-on-med-and-up"><br/></span><span class="hide-on-small-only"> &middot; </span>
        <% end %>
      
      <% end %>
      
      <% # show school %>
      <% if author.info.major.present? %>
        <i class="material-icons">school</i> <%= author.info.major %>
      
        <% if author.info.age.present? %>
          <span class="hide-on-med-and-up"><br/></span><span class="hide-on-small-only"> &middot; </span>
        <% end %>
      
      <% end %>
      
      <% # show age %>
      <% if author.info.age.present? %>
        <i class="material-icons">cake</i> <%= author.info.age %>
      <% end %>
      
    </p>
    
    <% # show about me %>
    <% if author.info.description.present? %>
      <p class="center-align"><strong>About Me:</strong><br/><%= parse_text author.info.description %></p>
    <% end %>
    
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>