<div id="ournaropa_forum_index" class="container">

  <div class="row">
    
    <div class="col s12">
      
      <div class="section">
          
        <h1>Conversations</h1>
        
        <%#= link_to new_conversation_path, class: "waves-effect waves-light btn-large purple" do %>
        <%= link_to "#", class: "waves-effect waves-light btn-large purple" do %>
          <i class="material-icons left">add</i>Start A Conversation</a>
        <% end %>
      </div>
    
    </div>
  
  </div>


  <% @conversations.each do |conversation| %>
  <div class="row">

    <div class="col s12">

      <%= link_to conversation, :class => "open-conversation" do %>
        <div class="topic z-depth-2">

          <%= render :partial => "/ournaropa_forum/conversations/render_author", :locals => {:author_id => conversation.author_id} %>

          <div class="content">
            <p class="time right right-align grey-text">
              <i class="material-icons tiny">event</i> <%= conversation.created_at.in_time_zone.strftime("%a, %b %e, %Y") %><br/>
              <i class="material-icons tiny">schedule</i> <%= conversation.created_at.in_time_zone.strftime("%l:%M%P %Z") %>
            </p>
            <h3><%= conversation.title %></h3>
            <p class="grey-text"><%= conversation.body.truncate_words(50) %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% end %>

  
</div>
