<div id="ournaropa_forum_index" class="container">

  <div class="row">
    
    <div class="col s12">
      
      <div class="section">
          
        <h1>Conversations</h1>
        
        <%#= link_to new_conversation_path, class: "waves-effect waves-light btn-large purple" do %>
        <%= link_to new_conversation_path, class: "waves-effect waves-light btn-large purple" do %>
          <i class="material-icons left">add</i>Start A Conversation</a>
        <% end %>
      </div>
    
    </div>
  
  </div>


  <% @conversations.each do |conversation| %>
  <div class="row">

    <div class="col s12">

     <%= render :partial => "ournaropa_forum/conversations/render_author", :locals => {:author => conversation.author} %>
      
      <%= link_to conversation, :class => "open-conversation" do %>
        <div class="topic z-depth-2">

          <div class="content grey-text">
            <p class="time right right-align">
              <i class="material-icons tiny">schedule</i> <%= time_ago_in_words(conversation.updated_at.in_time_zone) %> ago<br/>
              <i class="material-icons tiny">message</i> <%= pluralize(conversation.replies.count, "reply") %> 
            </p>
            <h3 class="color-inherit"><%= conversation.title %></h3>
            <p class=""><%= conversation.body.truncate_words(50) %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% end %>

  
</div>

<script type="text/javascript">
  $('.modal-trigger').leanModal();
</script>