<div id="ournaropa_forum_index" class="container">

  <div class="row">
    
    <div class="col s12">
      
      <div class="section">
          
        <h1>Conversations</h1>
        
        <%= link_to new_conversation_path, class: "waves-effect waves-light btn-large purple" do %>
          <i class="material-icons left">add</i>Start A Conversation</a>
        <% end %>
      </div>
    
    </div>
  
  </div>


  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Author</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @conversations.each do |conversation| %>
        <tr>
          <td><%= conversation.title %></td>
          <td><%= conversation.body %></td>
          <td><%= conversation.author_id %></td>
          <td><%= link_to 'Show', conversation %></td>
          <td><%= link_to 'Edit', edit_conversation_path(conversation) %></td>
          <td><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  
</div>
