<div id="ournaropa_forum_show" class="container">

  
  <div class="row">
    <div class="col s12">
      <div class="section">
        <%= link_to conversations_path, class: "waves-effect waves-light btn purple" do %>
          <i class="material-icons left">arrow_back</i>Back</a>
        <% end %>  
      </div>
    </div>
  </div>

  <div class="row">
    
    <div class="col s12">
    
      <div class="topic z-depth-2">
        <%= image_tag "ournaropa_forum/finn.JPG", class: "author circle responsive-img" %>
        <div class="content">
          <h3><%= @conversation.title %></h3>
          <div class="chip">Finn Woelm</div>
          <p><%= @conversation.body %></p>
        </div>
      </div>

      <div class="reply z-depth-1">
        <h4><%= @conversation.title %></h4>
        <p><%= @conversation.body %></p>
      </div>

    </div>
    
  </div>


  <div class="row">
    <div class="col s12">
      <div class="section">
        <%= link_to conversations_path, class: "waves-effect waves-light btn purple" do %>
          <i class="material-icons left">arrow_back</i>Back</a>
        <% end %>  
      </div>
    </div>
  </div>


</div>