<div id="ournaropa_forum_show" class="container">

  
  <div class="row">
    <div class="col s12">
      <div class="section">
        <%= render partial: '/ournaropa_forum/shared/back_button', :locals => {:destination => root_path} %>  
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      
      <div id="subscribe-switch-loader" class="preloader-wrapper small active">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      
      <i id="subscription-subscribed-icon" class="material-icons small left">notifications_active</i>
      <i id="subscription-unsubscribed-icon" class="material-icons small left">notifications_off</i>

        <strong>Email Notifications: </strong>
        <!-- Switch -->
        <div class="switch">
          <label>
            Off
            <%= check_box_tag :subscription, 'subscribe', current_user.is_subscribed_to?(@conversation) %>
            <span id="subscribe-switch" class="lever"></span>
            On
          </label>
        </div>
      <p id="subscription-subscribed-help-text" class="grey-text text-darken-2 subscription-help-text">You are currently receiving email notifications about new replies in this conversation.</p>
      <p id="subscription-unsubscribed-help-text" class="grey-text text-darken-2 subscription-help-text">You are currently not receiving email notifications about new replies in this conversation.</p>
    </div>
  </div>

  <div class="section"></div>

  <div class="row">
    
    <div class="col s12">
        
      <%= render :partial => "ournaropa_forum/conversations/render_author", :locals => {:author => @conversation.author} %>      
      
      <div class="topic z-depth-2">
        
        <div class="content">
          <p class="time right right-align grey-text">
            <i class="material-icons tiny">schedule</i> <%= time_ago_in_words(@conversation.created_at.in_time_zone) %> ago
          </p>
          <h3><%= @conversation.title %></h3>
          <%= parse_text @conversation.body %>
        </div>
        
      </div>
    </div>
  </div>

      <% @replies.each do |reply| %>
        <div class="row">
          <div class="col s12 reply-wrapper">  
            
            <%= render :partial => "ournaropa_forum/conversations/render_author", :locals => {:author => reply.author} %>
            
            <div class="reply z-depth-1">

              <div class="content">
                <p class="time right right-align grey-text">
                  <i class="material-icons tiny">schedule</i> <%= time_ago_in_words(reply.created_at.in_time_zone) %> ago
                </p>
                <p class="no-margin-top"><%= parse_text reply.body %></p>
              </div>

            </div>
          </div>
        </div>
      <% end %>

    <div class="row">
      <div class="col s12 reply-wrapper">  
        <%= render :partial => "ournaropa_forum/replies/form" %>
      </div>
    </div>


  <div class="row">
    <div class="col s12">
      <div class="section">
        <%= render partial: '/ournaropa_forum/shared/back_button', :locals => {:destination => root_path} %> 
      </div>
    </div>
  </div>


</div>

<script type="text/javascript">
  $('.modal-trigger').leanModal();
  
  if($("#subscription").prop("checked")) {
    $("#subscription-unsubscribed-help-text").hide(0);
    $("#subscription-unsubscribed-icon").hide(0);
  }
  else {
    $("#subscription-subscribed-help-text").hide(0);
    $("#subscription-subscribed-icon").hide(0);
  }
  
  $('#subscribe-switch').click(function(){    

    $('#subscribe-switch-loader').show(200);
    
    if($("#subscription").prop("checked")) {
      $.ajax({url: "<%= unsubscribe_path(@conversation) %>", dataType: "script"}).done(function() {});
    }
    else {
      $.ajax({url: "<%= subscribe_path(@conversation) %>", dataType: "script"}).done(function() {});
    }
    
  });
  
</script>