<div id="ournaropa_forum_show" class="container">

  
  <div class="row">
    <div class="col s12">
      <div class="section">
        <%= link_to conversations_path, class: "waves-effect waves-light btn purple" do %>
          <i class="material-icons left">arrow_back</i>Back</a>
        <% end %>  
      </div>
    </div>
  </div>

  <div class="row">
    
    <div class="col s12">
        
      <div class="topic z-depth-2">
       
        <%= render :partial => "render_author", :locals => {:author_id => @conversation.author_id} %>
        
        <div class="content">
          <p class="time right right-align grey-text">
            <i class="material-icons tiny">event</i> <%= @conversation.created_at.in_time_zone.strftime("%a, %b %e, %Y") %><br/>
            <i class="material-icons tiny">schedule</i> <%= @conversation.created_at.in_time_zone.strftime("%l:%M%P %Z") %>
          </p>
          <h3><%= @conversation.title %></h3>
          <p><%= @conversation.body %></p>
        </div>
        
      </div>

      <% @replies.each do |reply| %>
        <div class="reply z-depth-1">

          <%= render :partial => "render_author", :locals => {:author_id => reply.author_id} %>

          <div class="content">
            <p class="time right right-align grey-text">
              <i class="material-icons tiny">event</i> <%= @conversation.created_at.in_time_zone.strftime("%a, %b %e, %Y") %><br/>
              <i class="material-icons tiny">schedule</i> <%= @conversation.created_at.in_time_zone.strftime("%l:%M%P %Z") %>
            </p>
            <p><%= reply.body %></p>
          </div>

        </div>
      <% end %>

    </div>
    
  </div>


  <div class="row">
    <div class="col s12">
      <div class="section">
        <%= link_to conversations_path, class: "waves-effect waves-light btn purple" do %>
          <i class="material-icons left">arrow_back</i>Back</a>
        <% end %>  
      </div>
    </div>
  </div>


</div>