<div class="container">

  <h1>Awesome, <%= @p_user.first_name %>!</h1>
  <p>We found an account associated with the email address you entered. This is you, right?</p>

  <div class="row">
    <div class="col s12 m8 l6 push-m2 push-l3">
    
      <%# show user their account details %>
      <table class="bordered">
        <tbody>
          <tr>
            <td><strong>Name</strong></td>
            <td><%= @p_user.first_name + " " + @p_user.last_name%></td>
          </tr>
          <tr>
            <td><strong>Email Address</strong></td>
            <td><%= @p_user.email %></td>
          </tr>
          <tr>
            <td><strong>Role</strong></td>
            <td><%= @p_user.role %></td>
          </tr>
        </tbody>
      </table>
      
      
    </div>
  </div>
  
  <div class="section"></div>
  
  <%= form_tag signup_path do %>

    <%= hidden_field_tag "p_user_id", @p_user.id %>
  
    <div class="row">
      
      <%# back button %>
      <div class="col s6 left-align">
          <%= render partial: '/ournaropa_forum/shared/back_button', :locals => {:destination => signup_path} %>
      </div>
      
      <%# confirm button %>
      <div class="col s6 right-align">
        <button class="btn-large waves-effect waves-light" type="submit" name="action">
          <i class="material-icons right">done</i>yup, that's me!
        </button>
      </div>
      
    </div>
  <% end %>
  
</div>