<!DOCTYPE html>
<html>
<head>

  <%# favicons %>
  <% apple_sizes = ["57", "60", "72", "76", "114", "120", "144", "152", "180"]
android_sizes = ["192"]
icon_sizes = ["32", "96", "16"] %>
  <% apple_sizes.each do |size| %>
    <%= favicon_link_tag "ournaropa_forum/favicons/apple-icon-#{size}x#{size}.png", rel: 'apple-touch-icon', sizes: "#{size}x#{size}" %>
  <% end %>
  <% android_sizes.each do |size| %>
  <%= favicon_link_tag "ournaropa_forum/favicons/android-icon-#{size}x#{size}.png", rel: 'icon', type: "image.png", sizes: "#{size}x#{size}" %>
  <% end %>
  <% icon_sizes.each do |size| %>
  <%= favicon_link_tag "ournaropa_forum/favicons/favicon-#{size}x#{size}.png", rel: 'icon', type: "image.png", sizes: "#{size}x#{size}" %>
  <% end %>
  <link rel="manifest" href="<%= image_path("ournaropa_forum/favicons/manifest.json") %>">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<%= image_path("ournaropa_forum/favicons/ms-icon-144x144.png") %>">
  <meta name="theme-color" content="#ffffff">

  <%# Social Media Sharing %>
  <title>The Cushion: Forum</title>
  <meta name="description" content="The Cushion is a place for incoming Naropa students to meer their peers: Engage in conversations. Ask questions. Make friends. Build community." />

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="The Cushion: Forum">
  <meta itemprop="description" content="The Cushion is a place for incoming Naropa students to meer their peers: Engage in conversations. Ask questions. Make friends. Build community.">
  <meta itemprop="image" content="https://www.thecushion.org/ournaropa_forum/social_media.jpg">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="The Cushion: Forum">
  <meta name="twitter:description" content="The Cushion is a place for incoming Naropa students to meer their peers: Engage in conversations. Ask questions. Make friends. Build community.">
  <meta name="twitter:creator" content="@FinnWoelm">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="https://www.thecushion.org/ournaropa_forum/social_media.jpg">

  <!-- Open Graph data -->
  <meta property="og:title" content="The Cushion: Forum" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.thecushion.org/forum" />
  <meta property="og:image" content="https://www.thecushion.org/ournaropa_forum/social_media.jpg" />
  <meta property="og:description" content="The Cushion is a place for incoming Naropa students to meer their peers: Engage in conversations. Ask questions. Make friends. Build community." />
  <meta property="og:site_name" content="The Cushion" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <%# put Piwik tracking %>
  <%= piwik_tracking_tag %>

</head>
<body id="ournaropa_forum">



 <nav>
  <div class="nav-wrapper primary-color">
    <div class="container">
      <%= link_to "The Cushion", root_path, :class => "brand-logo" %>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-desktop" class="right hide-on-med-and-down">
        <% if current_user %>
          <% if current_user.is_superuser %>
            <li><%= link_to manage_access_path do %><i class="material-icons left">build</i>Manage Access<% end %></li>
          <% end %>
          <li><%= link_to directory_path do %><i class="material-icons left">person_pin</i>Student Directory<% end %></li>
          <li><%= link_to profile_path do %><%= image_tag current_user.info.avatar.url(:standard), class: "responsive-img circle" %> Hi, <%= current_user.name %>!<% end %></li>
          <li><%= link_to logout_path do %><i class="material-icons left">power_settings_new</i>Log Out<% end %></li>
        <% else %>
          <li><%= link_to login_path do %><i class="material-icons left">exit_to_app</i>Login<% end %></li>
        <% end %>
      </ul>
      <ul class="side-nav" id="nav-mobile">
        <li><%= link_to root_path do %><i class="material-icons left">home</i>Home<% end %></li>
        <% if current_user %>
          <% if current_user.is_superuser %>
            <li><%= link_to manage_access_path do %><i class="material-icons left">build</i>Manage Access<% end %></li>
          <% end %>
          <li><%= link_to directory_path do %><i class="material-icons left">person_pin</i>Student Directory<% end %></li>
          <li><%= link_to profile_path do %><%= image_tag current_user.info.avatar.url(:standard), class: "responsive-img circle" %> Hi, <%= current_user.name %>!<% end %></li>
          <li><%= link_to logout_path do %><i class="material-icons left">power_settings_new</i>Log Out<% end %></li>
        <% else %>
          <li><%= link_to login_path do %><i class="material-icons left">exit_to_app</i>Login<% end %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

<% # if there is a notice, display for 5 seconds
  if notice %>
  <script type="text/javascript">
    Materialize.toast("<%= escape_javascript notice %>", 5000) // 4000 is the duration of the toast
  </script>
<% end %>

<!-- Initialize mobile menu -->
<script type="text/javascript">
  $(".button-collapse").sideNav();
</script>

</body>
</html>
