<!DOCTYPE html>
<html>
<head>
  <title>OurNaropa - Elevating Collaboration and Empowering Community</title>
  
  <%# favicons %>
  <% apple_sizes = ["57", "60", "72", "76", "114", "120", "144", "152", "180"]
android_sizes = ["192"] 
icon_sizes = ["32", "96", "16"] %>
  <% apple_sizes.each do |size| %>
    <%= favicon_link_tag "ournaropa_forum/favicons/apple-icon-#{size}x#{size}.png", rel: 'apple-touch-icon', sizes: "#{size}x#{size}" %>
  <% end %>
  <% android_sizes.each do |size| %>
  <%= favicon_link_tag "ournaropa_forum/favicons/android-icon-#{size}x#{size}.png", rel: 'icon', type: "image.png", sizes: "#{size}x#{size}" %>
  <% end %>
  <% icon_sizes.each do |size| %>
  <%= favicon_link_tag "ournaropa_forum/favicons/favicon-#{size}x#{size}.png", rel: 'icon', type: "image.png", sizes: "#{size}x#{size}" %>
  <% end %>
  <link rel="manifest" href="<%= image_path("ournaropa_forum/favicons/manifest.json") %>">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<%= image_path("ournaropa_forum/favicons/ms-icon-144x144.png") %>">
  <meta name="theme-color" content="#ffffff">
  
  <!-- 
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">-->
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body id="ournaropa_forum">


  
 <nav>
  <div class="nav-wrapper primary-color">
    <div class="container">
      <%= link_to "OurNaropa", root_path, :class => "brand-logo" %>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-desktop" class="right hide-on-med-and-down">
        <% if current_user %>
          <% if current_user.is_superuser %>
            <li><%= link_to manage_access_path do %><i class="material-icons left">build</i>Manage Access<% end %></li>
          <% end %>
          <li><%= link_to directory_path do %><i class="material-icons left">person_pin</i>Student Directory<% end %></li>
          <li><%= link_to profile_path do %><%= image_tag current_user.info.avatar.url(:standard), class: "responsive-img circle" %> Hi, <%= current_user.name %>!<% end %></li>
          <li><%= link_to logout_path do %><i class="material-icons left">power_settings_new</i>Log Out<% end %></li>
        <% else %>
          <li><%= link_to login_path do %><i class="material-icons left">exit_to_app</i>Login<% end %></li>
        <% end %>
      </ul>
      <ul class="side-nav" id="nav-mobile">
        <li><%= link_to root_path do %><i class="material-icons left">home</i>Home<% end %></li>
        <% if current_user %>
          <% if current_user.is_superuser %>
            <li><%= link_to manage_access_path do %><i class="material-icons left">build</i>Manage Access<% end %></li>
          <% end %>
          <li><%= link_to directory_path do %><i class="material-icons left">person_pin</i>Student Directory<% end %></li>
          <li><%= link_to profile_path do %><%= image_tag current_user.info.avatar.url(:standard), class: "responsive-img circle" %> Hi, <%= current_user.name %>!<% end %></li>
          <li><%= link_to logout_path do %><i class="material-icons left">power_settings_new</i>Log Out<% end %></li>
        <% else %>
          <li><%= link_to login_path do %><i class="material-icons left">exit_to_app</i>Login<% end %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>  

<%= yield %>

<% # if there is a notice, display for 5 seconds
  if notice %>
  <script type="text/javascript">
    Materialize.toast("<%= escape_javascript notice %>", 5000) // 4000 is the duration of the toast
  </script>
<% end %>
  
<!-- Initialize mobile menu -->  
<script type="text/javascript">
  $(".button-collapse").sideNav();  
</script>  
  
</body>
</html>
